<mat-grid-list cols="3" rowHeight="2rem" gutterSize="1.5rem">
  <div>
    <!-- <mat-grid-tile>
       <button (click)="onCriteriaSelect(1)" mat-raised-button color="accent">Buscar Perros Con Poco Pelo</button>
    </mat-grid-tile> -->
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(2)"  mat-raised-button color="accent">Con Niveles Altos de Energia</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(3)"  mat-raised-button color="accent">Altamente Protectivos</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(4)" mat-raised-button color="accent">Faciles de Entrenar</button>
    </mat-grid-tile>
  </div>
</mat-grid-list>
