<mat-grid-list cols="2" rowHeight="20rem" gutterSize="1.5rem">
  <div>
    <mat-grid-tile><img style="" src="../../assets/jack1.jpg"></mat-grid-tile>
    <mat-grid-tile>
      <div class="texto">
        <h1>Beneficios de Adoptar un Perro</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptates illo nihil esse maxime velit, nam dicta repellendus harum possimus blanditiis sequi rem cum voluptatibus ipsum minima tempore sed laboriosam!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptates illo nihil esse maxime velit, nam dicta repellendus harum possimus blanditiis sequi rem cum voluptatibus ipsum minima tempore sed laboriosam!</p>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile>
      <div class="texto">
        <h1>Como escoger el perro ideal para ti</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptates illo nihil esse maxime velit, nam dicta repellendus harum possimus blanditiis sequi rem cum voluptatibus ipsum minima tempore sed laboriosam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptates illo nihil esse maxime velit, nam dicta repellendus harum possimus blanditiis sequi rem cum voluptatibus ipsum minima tempore sed laboriosam!</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile><img style="" src="../../assets/salchicha.jpg"></mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile colspan="2">
      <div class="texto">
        <h1 style="text-align: center;">Listo Para Buscar un Perro?</h1>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile colspan="2" ><img style="background-color: aliceblue;" src="../../assets/human-dog-relaation.png" height="100%"></mat-grid-tile>
  </div>
  <mat-grid-tile colspan="2">
    <div class="texto">
      <h1 style="text-align: center;">Listo Para Buscar un Perro?</h1>
    </div>
  </mat-grid-tile>

</mat-grid-list>

